@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Babas Neue';
    src: url(/src/fonts/BebasNeue-Regular.ttf) format('truetype');;
    font-weight: thin;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}